@import "./variables";

//UTILITIES
.button {
  background-color: $secondary-color;
  color: white;
  padding: 10px;
  border-radius: 7px;
  border: none;
  width: 300px;
  &:hover {
    background-color: #3f3a64;
  }
}

.border_color {
  &:hover {
    outline: #dbdbdb 10px solid;
    cursor: pointer;
  }
}
